<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%') }}
    <title>Document</title>
</head>

<body>
    <h1>flask web test</h1>
    {{ dropzone.create(action='/upload') }}
    <form action="/ml">
        <button>test</button>
    </form>

    {{ dropzone.load_js() }}
</body>

</html>